<section class="my-5">
    <div class="contaienr">
      <div class="row">
        <div class="col text-center ">
          <h1 class="fw-bold text-primary font-monospace">Drag And Drop CDK</h1>
        </div>
      </div>
    </div>
  </section>
  
  
  <ng-container cdkDropListGroup>
    <section class="mb-5 mb-100">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="card">
              <div class="card-header bg-light">
                Ready order
              </div>
              <div class="lodaing" >
                <div class=" text-center text-white m-auto">
                  <span>loding...</span>
                </div>
              </div>
             
              <div class="card-body vert-scroll row" 
               cdkDropList
               cdkDropListOrientation="horizontal"
               [cdkDropListData]="ordersReady"
               (cdkDropListDropped)="drop($event)" >
  
                <div class="curd-width px-1" *ngFor="let order of ordersReady ; let i = index" 
                 cdkDrag
                 [cdkDragDisabled]="order.Name=='Eman'">
                  <div class="card Order-cart my-2 font-12">
                    <div class="card-content">
                      <div class="drag-handle" cdkDragHandle>
                        <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                          <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
                          <path d="M0 0h24v24H0z" fill="none"></path>
                        </svg>
                      </div>
                      <div class="card-header">
                        <div class="row">
                          <div class="col-12 d-flex">
                            <img src="/assets/app-assets/img/ico/Group 16443.svg" alt=""
                              class="img-fluid vert-sub dashed-img">
  
                            <!-- <span class="move">+</span>   -->
                          </div>
                          <div class="col-7 padd-right-5">
                            <h5 class="text-bold-500 mb-0"><a
                                href="/super-admin/order-details/index/3406544"><span>#{{order.OrderNumber}}</span></a>
                            </h5>
                            <h6 class="card-subtitle mb-0 mt-1 m-name font-fam-bold" title="Ahmed Makled"> {{order.Name}}
                            </h6>
                            <h6 class="m-phone mb-0 c-blue"> {{order.Mobile}}</h6>
                            <p class="card-text Branch my-0"> Branch <span class="c-blue">{{order.PlannedDistance}}
                                km</span></p>
                          </div>
                          <div class="col-5 text-right padd-left-5">
                            <p class="time my-0" style="color: rgb(204, 50, 76);">4:45 </p>
                            <p class="price my-0"><span>L.E</span>37</p>
                            <p class="card-text Delivery my-0">
                              READY</p>
                          </div>
                          <div class="col-12">
                            <p class="card-text mt-0 address"> {{order.Address}} </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card-footer b-radius d-flex justify-content-between">
                      <div class=" d-inline-flex me-5 ">
                        <img src="/assets/app-assets/img/ico/calendar.svg" alt="" class="mr-1 pull-left"
                          style="margin-top: 2px; width: 12px; height: 12px;">
                        <p class="range mb-1">{{order?.Date | date:'HH:mm'}}</p>
                      </div>
                      <div>
                        <a><img src="/assets/app-assets/img/ico/map-marker-slash.svg"
                            style="width: 12px; height: 12px;"></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  
  
    <section class="mb-5 mb-100">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="card">
              <div class="card-header bg-light">
                Progress order
              </div>
              <div class="lodaing" >
                <div class=" text-center text-white m-auto">
                  <span>loding...</span>
                </div>
              </div>
              <div class="card-body vert-scroll row "
                cdkDropList
                cdkDropListOrientation="horizontal"
                [cdkDropListData]="ordersProgress"
                (cdkDropListDropped)="drop($event)">
             
                <div cdkDrag class="curd-width px-1" *ngFor="let order of ordersProgress ; let i = index"
                  >
                  <div class="card Order-cart my-2 font-12">
                    <div class="card-content">
                      <div class="drag-handle" cdkDragHandle>
                        <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                          <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
                          <path d="M0 0h24v24H0z" fill="none"></path>
                        </svg>
                      </div>
                      <div class="card-header">
                        <div class="row">
                          <div class="col-12"><img src="/assets/app-assets/img/ico/Group 16443.svg" alt=""
                              class="img-fluid vert-sub dashed-img"></div>
                          <div class="col-7 padd-right-5">
                            <h5 class="text-bold-500 mb-0"><a
                                href="/super-admin/order-details/index/3406544"><span>#{{order.OrderNumber}}</span></a>
                            </h5>
                            <h6 class="card-subtitle mb-0 mt-1 m-name font-fam-bold" title="Ahmed Makled"> {{order.Name}}
                            </h6>
                            <h6 class="m-phone mb-0 c-blue"> {{order.Mobile}}</h6>
                            <p class="card-text Branch my-0"> Branch <span class="c-blue">{{order.PlannedDistance}}
                                km</span></p>
                          </div>
                          <div class="col-5 text-right padd-left-5">
                            <p class="time my-0" style="color: rgb(204, 50, 76);">4:45 </p>
                            <p class="price my-0"><span>L.E</span>37</p>
                            <p class="card-text Delivery my-0">
                              READY</p>
                          </div>
                          <div class="col-12">
                            <p class="card-text mt-0 address"> {{order.Address}} </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card-footer b-radius d-flex justify-content-between">
                      <div class=" d-inline-flex me-5 ">
                        <img src="/assets/app-assets/img/ico/calendar.svg" alt="" class="mr-1 pull-left"
                          style="margin-top: 2px; width: 12px; height: 12px;">
                        <p class="range mb-1">{{order?.Date | date:'HH:mm'}}</p>
                      </div>
                      <div>
                        <a><img src="/assets/app-assets/img/ico/map-marker-slash.svg"
                            style="width: 12px; height: 12px;"></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section class="mb-5 mb-100">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="card">
              <div class="card-header bg-light">
                scheduled order
              </div>
              <div class="lodaing" >
                <div class=" text-center text-white m-auto">
                  <span>loding...</span>
                </div>
              </div>
              <div class="card-body vert-scroll row "
                cdkDropList
                [cdkDropListData]="scheduledOrders"
                cdkDropListOrientation="horizontal"
                (cdkDropListDropped)="drop($event)">
             
                <div cdkDrag class="curd-width px-1" *ngFor="let order of scheduledOrders ; let i = index"
                  >
                  <div class="card Order-cart my-2 font-12">
                    <div class="card-content">
                      <div class="drag-handle" cdkDragHandle>
                        <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                          <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
                          <path d="M0 0h24v24H0z" fill="none"></path>
                        </svg>
                      </div>
                      <div class="card-header">
                        <div class="row">
                          <div class="col-12"><img src="/assets/app-assets/img/ico/Group 16443.svg" alt=""
                              class="img-fluid vert-sub dashed-img"></div>
                          <div class="col-7 padd-right-5">
                            <h5 class="text-bold-500 mb-0"><a
                                href="/super-admin/order-details/index/3406544"><span>#{{order.OrderNumber}}</span></a>
                            </h5>
                            <h6 class="card-subtitle mb-0 mt-1 m-name font-fam-bold" title="Ahmed Makled"> {{order.Name}}
                            </h6>
                            <h6 class="m-phone mb-0 c-blue"> {{order.Mobile}}</h6>
                            <p class="card-text Branch my-0"> Branch <span class="c-blue">{{order.PlannedDistance}}
                                km</span></p>
                          </div>
                          <div class="col-5 text-right padd-left-5">
                            <p class="time my-0" style="color: rgb(204, 50, 76);">4:45 </p>
                            <p class="price my-0"><span>L.E</span>37</p>
                            <p class="card-text Delivery my-0">
                              READY</p>
                          </div>
                          <div class="col-12">
                            <p class="card-text mt-0 address"> {{order.Address}} </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card-footer b-radius d-flex justify-content-between">
                      <div class=" d-inline-flex me-5 ">
                        <img src="/assets/app-assets/img/ico/calendar.svg" alt="" class="mr-1 pull-left"
                          style="margin-top: 2px; width: 12px; height: 12px;">
                        <p class="range mb-1">{{order?.Date | date:'HH:mm'}}</p>
                      </div>
                      <div>
                        <a><img src="/assets/app-assets/img/ico/map-marker-slash.svg"
                            style="width: 12px; height: 12px;"></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  
  
  
  </ng-container>